<div class="type-{{post.type}}">
  <article class="type-system-sans content-{{post.type}}">
      <nav>
        <a {{action 'smartGoBack'}} class="ui tiny violet button">
          {{fa-icon 'long-arrow-left'}}
          Back
        </a>
      </nav>
      <h1 class="header">{{{post.title}}}</h1>
      <div class="description">
        <p>{{{post.content}}}</p>
      </div>
  </article>


  <aside>
     
  
    {{#if post.featured_image }}
      <div class="ui medium image" post-id={{post.slug}}>
       <div class="ui medium image">
      <img {{bind-attr src=post.featured_image.source}} >
      </div>
       </div>
    {{else}}
    <div class="item">
      <div class="ui horizontal red label">No featured image</div>
    </div>
    {{/if}}
 

  <div class="ui divided selection list meta">
      <h3>Post Atributes</h3>

      <a class="item">
        <div class="ui green horizontal label">ID</div>
        {{post.id}}
      </a>
      <a class="item">
        <div class="ui green horizontal label">Status</div>
         {{post.status}}
      </a>
      <a class="item">
        <div class="ui green horizontal label">Type</div>
        {{post.type}}
      </a>
      <a class="item">
        <div class="ui horizontal label">Date</div>
        {{month-and-day post.date}}
      </a>
      <a class="item">
        <div class="ui horizontal label">Modified</div>
        {{time-ago-in-words post.modified}}
      </a>
      <a class="item">
        <div class="ui horizontal label">Link</div>
        {{post.link}}
      </a>
      <a class="item">
        <div {{bind-attr class=":ui :horizontal :label post.sticky:green"}}>Sticky</div>
        {{post.sticky}}
      </a>
    </div>

  </aside>

</div>