<h2>{{model.term.name}}</h2>

<div class="ui items" style="min-height: 100vh;">
	{{#each model.posts as |post|}}
		<div class="item" >
		    <div class="ui small image" post-id={{post.slug}}>
			{{#if post.featured_image }}
				<img {{bind-attr src=post.featured_image.source}} >
			{{else}}
				<img src="http://semantic-ui.com/images/wireframe/image.png">
			{{/if}}
		    </div>
		    <div class="content" >
		      {{#link-to 'post.show' post.id class="header"}} {{{post.title}}} {{/link-to}}
		      <div class="meta">
		        <span class="price">$1200</span>
		        <span class="stay">1 Month</span>
		      </div>
		      <div class="description">
		        <p></p>
		      </div>
		    </div>
			
		</div>
	{{/each}}
</div>
