<div class="type-{{model.page.type}} type-{{model.format}}">
  <article class="type-system-sans type-{{model.format}}">
    <img {{bind-attr src=model.page.featured_image.source}} class="image-header" style="width: 100%;">
    <h2 class="ui header divided">{{{model.page.title}}}</h2>
    {{{model.page.content}}}
  </article>
  
  <aside>
    
    <div class="ui divided selection list meta">
      <h3>Page Atributes</h3>
      <a class="item">
        <div class="ui green horizontal label">ID</div>
        {{model.page.id}}
      </a>
      <a class="item">
        <div class="ui green horizontal label">Status</div>
         {{model.page.status}}
      </a>
      <a class="item">
        <div class="ui green horizontal label">Type</div>
        {{model.page.type}}
      </a>
      <a class="item">
        <div class="ui horizontal label">Date</div>
        {{month-and-day model.page.date}}
      </a>
      <a class="item">
        <div class="ui horizontal label">Modified</div>
        {{time-ago-in-words model.page.modified}}
      </a>
      <a class="item">
        <div class="ui horizontal label">Link</div>
        {{model.page.link}}
      </a>
      <a class="item">
        <div class="ui medium image">
          <img {{bind-attr src=model.page.featured_image.source}} >
        </div>
        <div class="ui horizontal label">Featured image</div>
      </a>
    </div>
  </aside>
</div>

